@font-face {font-family:Monocraft; src:url('Monocraft.ttf');}

body {font-family:Monocraft; overflow:auto; margin:0; padding:0;
		background-image:url('gray-wall-textures-background.jpg');}

.border {border:2px solid #000000; box-sizing:content-box;}
.whBackground {background-color:white}
.center {text-align:center;}
#12font {font-size:12px}
#left {float:left;}
#right {float:right;}

header {background-color:#0083ff;height:100px; padding:10px;}
h1 {margin-top:0; padding-top:10px;}

nav {height:40px; padding-top:15px; margin-bottom:20px;}

div {margin:10px; padding:10px;}

.readable {font-family:serif;}

a:visited {color:red}
a:active {color:orange}
a:hover {color:yellow; opacity:0.5;}
